<div class='cms_form'>
  <% paragraph_options_form_for "Category Listing Options",:category_listing ,@options do |f| -%>
    <%= f.select :list_page_id, @list_pages %>
    <%= f.select :base_category_id, @categories, :label => 'Base Category' %>
    <%= f.text_field :depth %>
  <% end -%>
</div>
