<%= f.text_field  :partner, :required => true %>
<%= f.text_field  :login, :required => true %>
<%= f.text_field :password, :required => true %>
<%= f.radio_buttons :test_server , [ ['Yes'.t,'test'],['No'.t,'live' ] ] %>
