<div class='admin_content'>

<% cms_form_for :carrier, @carrier, :html => {:class => 'admin_form' } do |f| -%>

  <%= f.text_field :name %>
  <%= f.select :carrier_processor, @handlers %>
  <%= f.cancel_submit_buttons "Cancel", @carrier.new_record? ? 'Create' : 'Edit' %>

<% end -%>

</div>
