<script>
<%= active_table_javascript %>
</script>

<div class='admin_content'>
<ul class='action_panel'>
  <li><%= link_to theme_icon("action","icons/actions/add.gif") + " " + "New Region".t, :action => 'region' %></li>
</ul>

</div>
<hr/>
<div class='admin_content'>
<div id='region_table'>
  <%= render :partial => 'region_table' %>
</div>
</div>

